.groot {
    font-size: 40px;
    border: 2px solid;
    text-align: center;
    width: 150px;
    height: 90px;
}

.middelgroot {
    font-size: 20px;
    border: 2px solid;
    text-align: center;
    width: 150px;
    height: 90px;
}

.noborder {
    border: 0;
    text-align: center;
}
.wrap {
    overflow: auto;
    page-break-after: always;
}
.a5links {
    width: 480px;
    margin-top: 0;
    margin-left: 0;
    float: left;
}
.a5rechts {
    width: 480px;
    margin-top: 0;
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
/* voor het printen van het wedstrijdschema */
.print {
    font-size: 12px;
    padding-bottom: 12px;
}
.tableprint {
    border-spacing: 0;
    border-left: 3px solid;
    border-right: 3px solid;
    border-top: 3px solid;
    border-bottom: 3px solid;
}
td {
    white-space:nowrap;
    padding: 0;
}
.programma_cel {
    padding: 1px 3px; /* de eerste is voor top en bottom, de tweede voor links en rechts */
    text-align: center;
}
.lijnlinks {
    border-left: 1px solid;
}
.lijnlinksvet {
    border-left: 3px solid;
}
.lijnondervet {
    border-bottom: 3px solid;
}
.lijnbovenvet {
    border-top: 3px solid;
}
